.item {
  border: 2px solid palevioletred;
  width: 500px;
  height: 500px;
  font-size: 30px;
  background-color: papayawhip;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
