.bloque1 {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
}
.bloque2 {
  display: block;
  width: 100px;
  height: 100px;
  background-color: thistle;
}
.bloque3 {
  display: inline;

  background: turquoise;
}
.bloque4 {
  display: none;
  width: 100px;
  height: 100px;
  background: purple;
}
* {
  background-color: transparent;
}
