body {
  margin-left: 20px;
}
.button {
  width: 70px;
  height: 20px;
  background-color: peachpuff;
  border: none;
  border-radius: 12.5px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  margin-top: 20px;
}
.button:hover {
  opacity: 0.6;
}
