body {
  margin: 0;
}
.wrapper {
  display: grid;
  grid-gap: 5px;
  text-align: center;
}

.row {
  color: papayawhip;
}

.header {
  background-color: pink;
}
.menu {
  background-color: blueviolet;
}

.aside {
  background-color: brown;
}

.footer {
  background-color: cornflowerblue;
}
