.container {
  display: flex;
  border: solid 1px palevioletred;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.box {
  display: Inline;
  border: solid 1px purple;
  width: 50px;
  padding: 12px;
  margin: 2px;
  justify-content: center;
}
